/* * {
   height: 100vh;
} */

body {
    color: azure;
    text-align: center;
    height: 100vh;
    width: auto;
    margin: 0;
    background-image: url(images/halloween-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Nunito", sans-serif;
}

h3 {
    margin-bottom: 2%;
}

/* .navbar {
    background-color: white;
    box-shadow: 1;
} */

.products {
    background-color: transparent;
}

.container {
    display: grid;
    justify-items:center;
    align-items: stretch;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1%;
    row-gap: 3%;
    justify-content: center;
    align-content: center;
}

.container > div {
    background-color: rgba(255, 255, 255, 0.187);
    text-align: center;
    padding: 5px;
    font-size: 30px;
}

.about {
    font-weight: 200;
    font-style: normal;
    font-size: 10px;
    text-align: left;
}

.card {
    box-shadow: 0 10px 20px black;
    width: 250px;
    height: 300px;
}

.img {
    padding: 3px;
}


/* #img2:hover {
    visibility: hidden;
} */

.title {
    color: white;
    font-size: 20px;
}

h6 {
    margin: 0;
}

.about {
    margin: 5%;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: darkmagenta;
}

.price-add{
    display: flex;
    justify-content: center;
}

#sale {
    text-decoration: line-through;
    color: gray;
}

#save {
    font-weight: 400;
    font-size: 2px;
}

/* @media (hover: hover) {
    #img2:hover {
         background-image: url('images/cinnamoroll-back.png');
         height: 150px;
         width: 150px;

    }
} */